apiVersion: v1
kind: Secret
metadata:
  name: env-secret
  namespace: ingress-basic
type: Opaque
stringData:
  FirebaseSettings__apiKey: "<YOUR-VALUE>"
  FirebaseSettings__authDomain: "<YOUR-VALUE>"
  MongoDbSettings__ConnectionString: "<YOUR-VALUE>"
  MongoDbSettings__DatabaseName: "<YOUR-VALUE>"
  EventHubConfig__EventHubConnectionString: "<YOUR-VALUE>"
  EventHubConfig__EventHubName: "<YOUR-VALUE>"
  EventHubConfig__ConsumerGroupProjectEvents: "<YOUR-VALUE>"
  BlobStorage__ConnectionString: "<YOUR-VALUE>"
  BlobStorage__AccountName: "<YOUR-VALUE>"
  BlobStorage__AccountKey: "<YOUR-VALUE>"
  EventHubStorage__ConnectionString: "<YOUR-VALUE>"
  EventHubStorage__ContainerProjectEvents: "<YOUR-VALUE>"
