<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add nuget.org as a package source -->
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />

    <!-- Add a local directory as a package source -->
    <add key="LocalPackages" value="." />
  </packageSources>
</configuration>